<!DOCTYPE html>
{#{% load staticfiles %}#}
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:wb="http://open.weibo.com/wb" lang="en">
<!--

    ____                  __                   _       __      ____
   / __ \____ _____  ____/ /___  ____ ___     | |     / /___ _/ / /_______
  / /_/ / __ `/ __ \/ __  / __ \/ __ `__ \    | | /| / / __ `/ / //_/ ___/
 / _, _/ /_/ / / / / /_/ / /_/ / / / / / /    | |/ |/ / /_/ / / ,< (__  )
/_/ |_|\__,_/_/ /_/\__,_/\____/_/ /_/ /_/     |__/|__/\__,_/_/_/|_/____/


By makers, for makers. Since 2014.

告诉你一个秘密哦，我一共丢过13辆自行车！

~ W

Oct. 10, 2015 @ San Francisco
-->

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="我是W，在旧金山做工程师。每天推荐好文章给215,569位读者。可通过微博、RSS、App、微信、邮件、Twitter等渠道订阅。">
    <meta name="keywords" content="这是一个在美国旧金山湾区工作的软件工程师做的博客,Wanqu Daily,wanqu,wanquribao,By makers,for makers,每天推送5篇优质英文文章到近10个不同渠道,包括 iOS Android app,微博,微信,Twitter,Facebook,邮件订阅等,每天坚持阅读,每天进步一点点,wanqu,wanquribao,湾区日报">

    <meta name="apple-mobile-web-app-title" content="湾区日报">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="robots" content="NOYDIR,NOODP"/>

    <meta property="al:ios:url" content="wanqu://"/>
    <meta property="al:ios:app_store_id" content="995762924"/>
    <meta property="al:ios:app_name" content="Wanqu"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@wanquribao">









    <meta name="twitter:title" content="湾区日报：关注创业与技术，每天推送5篇优质英文文章">
    <meta name="twitter:description" content="我是W，在旧金山做工程师。每天推荐好文章给215,569位读者。可通过微博、RSS、App、微信、邮件、Twitter等渠道订阅。">
    <meta name="twitter:creator" content="@wanquribao">
    <meta name="twitter:domain" content="wanqu.co">

    <meta property="og:type" content=website/>
    <meta property="og:title" content="湾区日报：关注创业与技术，每天推送5篇优质英文文章"/>
    <meta property="og:url" content="https://wanqu.co/"/>
    <meta property="og:site_name" content="湾区日报"/>
    <meta property="fb:app_id" content="838125892950403"/>

    <meta name="referrer" content="origin">


        <meta name="weibo:webpage:title" content="湾区日报：关注创业与技术，每天推送5篇优质英文文章"/>
        <meta name="weibo:webpage:url" content="https://wanqu.co/"/>
        <meta name="weibo:webpage:description" content="我是W，在旧金山做工程师。每天推荐好文章给215,569位读者。可通过微博、RSS、App、微信、邮件、Twitter等渠道订阅。"/>
        <meta name="weibo:webpage:create_at" content="2020-01-19 08:02:28"/>
        <meta name="weibo:webpage:update_at" content="2020-01-19 08:02:28"/>



        <meta property="og:image" content="http://wanqu.co/static/images/wanqu/assets/logo/wanqu-app-medium.png">
        <link rel="image_src" href="https://wanqu.co/static/images/wanqu/assets/logo/wanqu-app-medium.png" />
        <meta name="twitter:image" content="http://wanqu.co/static/images/wanqu/assets/logo/wanqu-app-medium.png"/>


    <meta property="og:description" content="我是W，在旧金山做工程师。每天推荐好文章给215,569位读者。可通过微博、RSS、App、微信、邮件、Twitter等渠道订阅。"/>

    <meta name="google-site-verification" content="Y-rL8n4thby2ld-BKtZXbtxMsm1Cpu5kWICUBK3J-dQ"/>
    <meta name="google-site-verification" content="XmPYzCXub6K7fMjKmkXwzk3FeWXn-LAVd5FstclCKkU"/>
    <meta name="google-site-verification" content="qUoO_n-mqTemQFQFfsfnaiRqFisF6SU-anUbXKcsb_g"/>
    <meta name="baidu-site-verification" content="gMZU73Gmbx"/>

    <link rel="manifest" href="/manifest.json">

    <title>
        湾区日报：关注创业与技术，每天推送5篇优质英文文章
    </title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/wanqu/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/wanqu/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/wanqu/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/wanqu/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/wanqu/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/wanqu/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/wanqu/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/wanqu/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/wanqu/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/images/wanqu/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/wanqu/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/images/wanqu/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/wanqu/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/wanqu/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/wanqu/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="https://wanqu.co/"/>



    <link rel="stylesheet" href="/static/css/bootstrap.css?64af62e">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css?64af62e">
    <link rel="stylesheet" href="/static/css/animate.min.css?64af62e">
    <link rel="stylesheet" href="/static/css/main.css?64af62e">


    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "湾区日报",
  "downloadUrl": "https://itunes.apple.com/app/apple-store/id995762924?ct=web&tduid=1010l6Sv&partnerId=2003&pt=1302761&mt=8",
  "operatingSystem": "iOS",
  "applicationCategory": "News",
  "screenshot": "https://wanqu.co/static/images/wanqu/assets/logo/wanqu-app.png",
  "aggregateRating": {
    "ratingValue": "5.0",
    "ratingCount": "401"
  }
}
    </script>

    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name" : "湾区日报",
  "alternateName" : "Wanqu",
  "url": "https://wanqu.co",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://wanqu.co/search/?s={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}






    </script>


    <script type="text/javascript">
        (function (document, navigator, standalone) {
            // prevents links from apps from opening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location = document.location, stop = /^(a|html)$/i;
                document.addEventListener('click', function (e) {
                    curnode = e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode = curnode.parentNode;
                    }
                    // Condidions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if (
                            'href' in curnode && // is a link
                            (chref = curnode.href).replace(location.href, '').indexOf('#') && // is not an anchor
                            (    !(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
                            chref.indexOf(location.protocol + '//' + location.host) === 0 ) // or is in the same protocol and domain
                    ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                }, false);
            }
        })(document, window.navigator, 'standalone');

    </script>
    <script>

        var cacheBuster = '64af62e';
        var sessionKey = '4xet1b6sff2opjf64mr9heg7d9aehdec';
        var wsServer = 'ws.wanqu.co';
        var stoken = 'pk_live_TcBrwsYcdyl46uZXrmIFzo8W';
    </script>


</head>

<body>
<span id="csrf-token" style="display:none">cGRK5MEYGkA8m3Why4gSTYqtNJy0Efjw6ksSl8CaOOFjLdj31ywgB5IbAds1mwea</span>
<nav class="wq-navbar container">
    <div class="wq-nav-left">

    </div>
    <div class="wq-nav-right">
        <ul class="wq-nav-menu">
            <li class="dropdown wq-nav-dropdown-menu wq-nav-item">
                <a href="#" class="dropdown-toggle" type="button" id="nav-dropdown-menu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu wq-nav-dropdown-menu" aria-labelledby="nav-dropdown-menu">
                    <li><a href="/search/" title="搜索往期文章">搜索</a></li>
                    <li><a href="/hot/" title="近期热门文章">热门</a></li>
                    <li><a href="/blog/" title="了解湾区日报背后的故事">博客</a></li>
                    <li><a href="/jobs/" title="招聘广告">招聘</a></li>
                    <li><a href="/donate/" title="捐款">捐款</a></li>
                    <li><a href="/california_street/" title="加利福尼亚大道">App 更新</a></li>
                    <li><a href="/cost/" title="湾区日报的运营成本">运营成本</a></li>
                </ul>
            </li>
            <li class=" wq-nav-item" onClick="ga('send', 'event', 'Nav', 'Nav All');">
                <a href="/issues/" title="查看往期湾区日报">往期</a></li>
            <li class="wq-nav-item" onClick="ga('send', 'event', 'Submit from user', 'Top Nav');">
                <a title="投稿" href="https://wanquribao.typeform.com/to/thFq9f">投稿</a>
            </li>
            <li class=" wq-nav-item" onClick="ga('send', 'event', 'Nav', 'About');">
                <a title="关于湾区日报" href="/about/">关于</a>
            </li>
        </ul>
    </div>
        <!--<a class="mini-navbar navbar-brand" rel="home" href="/" title="返回首页">-->
        <!--<img style="max-width:48px; margin-top: -12px;"-->
        <!--src="/static/images/wanqu/logo.png">-->
        <!--</a>-->






















</nav>


<div class="container">

    <div class="row app-container">
        <div class="col-lg-12 app-text">
    <h1 title="由Maker向其他Makers推荐好文章" style="padding-bottom: 30px;">

        <div style="display: flex; justify-content: center;">
            <div>
                <img style="max-width:48px; margin-right: 8px;" src="/static/images/wanqu/round-logo.png">
            </div>
            <div>
                湾区日报：关注创业与技术，每天推送5篇优质英文文章
            </div>
        </div>
    </h1>
    <p title="坚持每天阅读，每天进步一点点">我是 W，
        在旧金山的软件工程师。
        关注创业与技术，每天推送 5 篇优质英文文章给 215,569
        位读者，每天进步一点点。</p>
    <p style="font-weight: 400; padding-bottom: 40px;">
        一个人运营了
        <span title="贵在坚持，贵在精选">1992</span> 天，
        推荐好文 <span title="每天5篇文章，不多，也不少">6,720</span> 篇，
        写原创简评 <span title="我也很惊讶，我竟然打了那么多字">1,308,065</span> 字。
        原文总阅读时间 <span title="知识的积累是一个漫长的过程。不积跬步，无以至千里；不积小流，无以成江海。">60,839</span> 分钟。
    </p>

    <p style="padding-bottom: 40px;">
        最新：<a href="https://wanqu.co/issues/当代大规模-web-搜索引擎的架构buzzfeed-in-2020how-to-email一个很有钱的创业者为什么仍需要向风投融资ces-2020-总结-1352/" title="第1352期"
            onClick="ga('send', 'event', 'Issues Issue', 'Issue 1352');">
            2020/01/13 第1352期
        </a>
    </p>

    <p>
        选一种适合你的订阅方式：
    </p>
    <p class="app-store-icon text-center">
        <a class="animated zoomIn" onClick="ga('send', 'event', 'Home iOS Download', 'Left Nav');"
           style="font-size: 14px;"
           title="通过 App Store 下载。iOS App提供内购：$6.99 或 ￥45，请我喝杯半杯咖啡吧 ～"
           href="https://itunes.apple.com/app/apple-store/id995762924?mt=8">
            <img src="/static/images/wanqu/app-store.png" />
        </a>
        <a class="animated zoomIn" onClick="ga('send', 'event', 'Home Android PlayStore', 'Left Nav');"
           style="font-size: 14px;"
           title="到 Play Store 下载 湾区日报 for Android"
           href="https://play.google.com/store/apps/details?id=co.wanqu.Android">
            <img src="/static/images/wanqu/play-store.png?s=play" />
        </a>
        <a class="animated zoomIn" onClick="ga('send', 'event', 'Home Android APK', 'Left Nav');"
           style="font-size: 14px;"
           title="直接下载 湾区日报 for Android 的 APK。"
           href="https://www.dropbox.com/s/xshrc2vpml46dzw/2019.6.26.apk?dl=1">
            <img src="/static/images/wanqu/android-apk.png" />
        </a>
    </p>
    <p class="text-center" style="font-size: 12px; color: #191D45; padding-top: 10px"
       title="iOS App 提供内购：$6.99 或 ￥45，请我喝半杯咖啡吧 ～">

        <div class="row text-center" style="margin-bottom: 20px; line-height: 170%">
            <div class="col-lg-12">
                <a href="https://weibo.com/wanquribao" target="_blank" title="目前有 75,959 人关注湾区日报的微博" style="margin-right: 12px;" onClick="ga('send', 'event', 'Nav', 'Weibo Subscribe');"><i
                        class="fa fa-weibo fa-1x"></i> 75,959 人</a>
                <a href="https://wanqu.co/feed" target="_blank" title="目前有 49,060 订阅湾区日报的 RSS feed" style="margin-right: 12px;" onClick="ga('send', 'event', 'Nav', 'RSS Subscribe');"><i
                        class="fa fa-rss fa-1x"></i> 49,060 人</a>
                <a href="https://itunes.apple.com/app/apple-store/id995762924?ct=web&tduid=1010l6Sv&partnerId=2003&pt=1302761&mt=8"
                   style="margin-right: 12px;" target="_blank" title="湾区日报的 iOS App，目前有 20,297 人打开消息推送"
                   onClick="ga('send', 'event', 'iOS Download', 'Footer');"><i
                        class="fa fa-apple fa-1x"></i> 20,297 人</a>
                <a href="https://play.google.com/store/apps/details?id=co.wanqu.Android"
                   target="_blank" title="湾区日报的 Android App，目前有 12,365 人打开消息推送"
                   style="margin-right: 12px;" onClick="ga('send', 'event', 'Android Download', 'Footer');"><i
                        class="fa fa-android fa-1x"></i> 12,365 人</a>
                <a href="https://twitter.com/wanquribao" target="_blank"
                   style="margin-right: 12px;" title="目前有 18,292 人关注湾区日报的 Twitter 账号"
                   onClick="ga('send', 'event', 'Nav', 'Twitter Subscribe');"><i
                        class="fa fa-twitter fa-1x"></i> 18,292 人</a>
                <a href="https://wanqu.co/b/47/2016-07-03-chrome-push-notification.html" target="_blank"
                   style="margin-right: 12px;" title="目前有 19,779 在 Chrome 浏览器上打开消息推送"
                   onClick="ga('send', 'event', 'Nav', 'Chrome Subscribe');">
                    <i class="fa fa-chrome fa-1x"></i> 19,779 人</a>
                <a href="http://eepurl.com/1CSe1" target="_blank" title="目前有 2,185 位读者进行邮件订阅"
                   style="margin-right: 12px;" onClick="ga('send', 'event', 'Email Subscribe', 'Nav');"><i
                        class="fa fa-envelope-o"></i> 2,185 人</a>
                <a href="https://www.facebook.com/wanquribao"
                   style="margin-right: 12px;" target="_blank" title="目前有 2,743 关注湾区日报的 Facebook 页面"
                   onClick="ga('send', 'event', 'Nav', 'Facebook Subscribe');">
                    <i class="fa fa-facebook fa-1x"></i> 2,743 人</a>
                <a href="https://t.me/wanqu_official"
                   style="margin-right: 12px;" target="_blank" title="目前有 2,000 关注湾区日报的 Telegram channel"
                   onClick="ga('send', 'event', 'Nav', 'Telegram Subscribe');">
                    <i class="fa fa-telegram fa-1x"></i> 2,000 人</a>
                <a href="https://www.reddit.com/r/wanqu/" target="_blank"
                   style="margin-right: 12px;" title="目前有 145 人关注湾区日报的 subreddit"
                   onClick="ga('send', 'event', 'Nav', 'Reddit Subscribe');">
                    <i class="fa fa-reddit-alien fa-1x"></i> 145 人</a>
            </div>
        </div>
    </p>
    <br>

    <div style="margin-top: 150px; text-align: left">
    <div style="font-weight: 700; font-size: 20px;">特别感谢：</div>
    <p style="margin-top: 20px;" class="text-muted">
        <a href="/donate/">捐款</a>达到或超过 $200 的可以在<a href="/">湾区日报网站首页</a>永久留下一张 300x300 的图片（头像、logo等）与网页链接，排列顺序随机。请在捐款后将图片与网页链接发给我：
        <a href="mailto:hi@wanqu.co?subject=捐款图片与链接&body=（请附上链接，以及在附件放上一张 300x300 的静态图片）">hi@wanqu.co</a>
    </p>
    <div class="donate-thanks-container">


                <a href="https://lakesidethinks.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/659d15b546b14f0fa0ebbfd8abab2a21.png" class="donate-thanks-image" />
                </a>

                <a href="https://weibo.com/rich2/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/97a0cb1710e445c2a55b2abf19249f0d.jpeg" class="donate-thanks-image" />
                </a>

                <a href="https://www.seoactionblog.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/360f1ff971284e379e0d448c7ce7fa52.png" class="donate-thanks-image" />
                </a>

                <a href="http://www.fuyuzhe.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/c995a8d2482a488287c0a0a6ae8dd96d.png" class="donate-thanks-image" />
                </a>

                <a href="http://www.wazhongyi.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/8354e86495644009a8498fdf63b4290e.jpeg" class="donate-thanks-image" />
                </a>

                <a href="https://localnative.app/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/6e259507585a4f03bb373cf811364e4a.png" class="donate-thanks-image" />
                </a>

                <a href="http://jackli.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/6463f7dbfe504a1f833015cf6ee3e235.png" class="donate-thanks-image" />
                </a>

                <a href="https://bit.ly/2Tfymze" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/358aab15995241b5867dc15fc2e7d904.png" class="donate-thanks-image" />
                </a>

                <a href="http://thus.in/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/2d1ed706ff5c4cce805f7f169af04dda.png" class="donate-thanks-image" />
                </a>

                <a href="https://ohmyrss.com/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/d0e9174a6a674304872b1d83a485ce34.jpg" class="donate-thanks-image" />
                </a>

                <a href="https://twitter.com/woshimiantiao" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/c498803fe45e4cacad0b517ff4102a11.jpg" class="donate-thanks-image" />
                </a>

                <a href="https://blog.niclin.tw/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/322338d91c104869b021279d4f8034aa.png" class="donate-thanks-image" />
                </a>

                <a href="https://wangwei.one/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/be7045da97894a6cb6a20df2221a77c3.png" class="donate-thanks-image" />
                </a>

                <a href="https://trueki.net/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/66900d1e6b034cf6b1afd5eb2fd70b9f.jpg" class="donate-thanks-image" />
                </a>

                <a href="https://productdaily.com.cn/" class="donate-thanks-block" rel="nofollow">
                    <img src="https://d3qikkcrtm3w6b.cloudfront.net/charge/338a88219208480ea0d7745b5d7c0489.png" class="donate-thanks-image" />
                </a>


    </div>
</div>

</div>
    </div>

</div>

<div class="container footer-container">
    <hr>
    <small>
        <footer class="text-muted text-center">
            <div style="line-height: 180%;">
                &copy; 2014-2020 湾区日报
                <br>
                hi@wanqu.co
            </div>
        </footer>
    </small>
</div>



<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53635138-1', 'auto');
    ga('send', 'pageview');

</script>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script data-main="/static/js/generic" src="/static/js/vendor/require.js" type="text/javascript"></script>




</body>

</html>